

#Toca pasarlo a Thymeleaf

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Urbify | Sistema de Gestion Residencial</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="https://cdn.hugeicons.com/font/hgi-stroke-rounded.css" />
    <link rel="shortcut icon" href="public/logo.png" type="image/x-icon" />
</head>

<body>
<main class="flex bg-[url(public/fondo4.jpg)] bg-cover bg-no-repeat bg-center bg-fixed">
    <aside class="rounded-r-xl bg-[#138fcb] text-gray-700 h-screen w-[30%] p-4 divide-y-4 divide-white">
        <div class="mb-2 p-4">
            <div class="flex justify-center mb-2">
                <img class="max-w-40 rounded-full bg-white border-stone-300 border-4"      src="public/vigilante.png"
                     alt="Imagen de Perfil Vigilante" />
            </div>
            <h5 class="text-center font-sans text-2xl font-bold text-white">
                JUAN CARLOS ROJAS
            </h5>
        </div>
        <section class="flex flex-col gap-1 p-2 font-sans font-normal text-white text-xl">
            <div class="flex w-full p-3 text-start">
                <p><span class="pr-2"><i class="font-bold hgi hgi-stroke hgi-user"></i></span><span
                        class="font-bold">Identificación: </span>1027356460</p>
            </div>
            <div class="flex w-full p-3 text-start">
                <p><span class="pr-2"><i class="font-bold hgi hgi-stroke hgi-labor"></i></i></span><span
                        class="font-bold">Empleado: </span>V-056</p>
            </div>
            <div class="flex w-full p-3 text-start">
                <p><span class="pr-2"><i class="font-bold hgi hgi-stroke hgi-clock-01"></i></span><span
                        class="font-bold">Turno: </span>10:00AM - 6:00PM</p>
            </div>
            <div class="flex w-full p-3 text-start">
                <p><span class="pr-2"><i class="font-bold hgi hgi-stroke hgi-permanent-job"></i></span><span
                        class="font-bold">Empresa: </span>Búho Security</p>
            </div>
            <a href="index.html"
               class="w-full py-2 rounded-2xl transition duration-200  bg-red-400 hover:bg-red-500 text-lg text-center font-bold text-white cursor-pointer mt-20">
                <i class="hgi hgi-stroke hgi-logout-05 text-lg"></i>
                CERRAR SESIÓN</a>
        </section>
    </aside>
    <section class="w-[70%]">
        <div class="flex justify-end items-center gap-140 max-h-40">
            <a
                    href="vigilante.html"
                    class="py-2 px-5 transition duration-200 hover:bg-blue-600 focus:bg-blue-700 focus:shadow-sm focus:ring-4 focus:ring-blue-500 focus:ring-opacity-50 bg-[#138fcb] text-white rounded-lg font-semibold text-center"
            >
                <i class="hgi hgi-stroke hgi-arrow-left-02 text-lg"></i>
                <span class="text-lg"> Volver</span>
            </a>
            <img class="max-h-40 max-w-50" src="public/logo.png" alt="Logo Urbify" />
        </div>
        <div class="my-8 text-center ">
            <h1 class="text-4xl text-[#138fcb] font-bold">REGISTRO DE VISITANTES</h1>
            <button onclick="window.location.href='formularioVisitante.html'" type="submit"
                    class="transition duration-200 bg-[#138fcb] hover:bg-blue-600 text-white w-50 mt-5 py-2.5 rounded-lg text-sm font-bold text-center">
                <i class="text-xl hgi hgi-stroke hgi-user-add-01 pr-2"></i><span class="inline-block mr-2 text-lg">Nuevo Vistante</span>
            </button>
        </div>

        <!-- TABLA -->
        <div class="max-h-80 overflow-y-auto rounded-md px-8">
            <table class="min-w-full border-collapse block md:table">
                <thead class="block md:table-header-group border-2">
                <tr class="border border-grey-500 md:border-none block md:table-row">
                    <th
                            class="bg-[#138fcb] w-80 p-2 text-white font-bold md:border md:border-black text-left block md:table-cell">
                        Nombre
                    </th>
                    <th
                            class="bg-[#138fcb] w-60 p-2 text-white font-bold md:border md:border-black text-left block md:table-cell">
                        Identificación
                    </th>

                    <th class="bg-[#138fcb] p-2 text-white font-bold md:border md:border-black text-left block md:table-cell">
                        Apartamento
                    </th>
                    <th
                            class="bg-[#138fcb] w-40 p-2 text-white font-bold md:border md:border-black text-left block md:table-cell">
                        Acciones
                    </th>
                </tr>
                </thead>
                <tbody class="block md:table-row-group">
                <tr class="bg-white border border-grey-500 md:border-none block md:table-row">
                    <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell">Jamal Rios Fernandez</td>
                    <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell">1256413112</td>
                    <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell">233</td>
                    <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell">
                        <button
                                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 border border-blue-500 rounded">
                            <i class="hgi hgi-stroke hgi-pencil-edit-02"></i>
                        </button>
                        <button
                                class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-2 border border-red-500 rounded">
                            <i class="hgi hgi-stroke hgi-login-02"></i>
                        </button>
                        <button
                                class="bg-amber-500 hover:bg-amber-700 text-white font-bold py-1 px-2 border border-amber-500 rounded">
                            <i class="hgi hgi-stroke hgi-alert-02"></i>
                        </button>
                    </td>
                </tr>
                <tr class="bg-white border border-grey-500 md:border-none block md:table-row">
                    <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell">Jorge Mesa Gutierrez</td>
                    <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell">1024576952</td>
                    <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell">1204</td>
                    <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell">
                        <button
                                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 border border-blue-500 rounded">
                            <i class="hgi hgi-stroke hgi-pencil-edit-02"></i>
                        </button>
                        <button
                                class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-2 border border-red-500 rounded">
                            <i class="hgi hgi-stroke hgi-login-02"></i>
                        </button>
                        <button
                                class="bg-amber-500 hover:bg-amber-700 text-white font-bold py-1 px-2 border border-amber-500 rounded">
                            <i class="hgi hgi-stroke hgi-alert-02"></i>
                        </button>
                    </td>
                </tr>
                <tr class="bg-white border border-grey-500 md:border-none block md:table-row">
                    <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell">Samuel Mejia Alvarez</td>
                    <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell">1018759482</td>
                    <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell">510</td>
                    <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell">
                        <button
                                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 border border-blue-500 rounded">
                            <i class="hgi hgi-stroke hgi-pencil-edit-02"></i>
                        </button>
                        <button
                                class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-2 border border-red-500 rounded">
                            <i class="hgi hgi-stroke hgi-login-02"></i>
                        </button>
                        <button
                                class="bg-amber-500 hover:bg-amber-700 text-white font-bold py-1 px-2 border border-amber-500 rounded">
                            <i class="hgi hgi-stroke hgi-alert-02"></i>
                        </button>
                    </td>
                </tr>
                <tr class="bg-white border border-grey-500 md:border-none block md:table-row">
                    <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell">Juan Miguel Osorio Lopez</td>
                    <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell">1234567890</td>
                    <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell">706</td>
                    <td class="p-2 md:border md:border-grey-500 text-left block md:table-cell">
                        <button
                                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 border border-blue-500 rounded">
                            <i class="hgi hgi-stroke hgi-pencil-edit-02"></i>
                        </button>
                        <button
                                class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-2 border border-red-500 rounded">
                            <i class="hgi hgi-stroke hgi-login-02"></i>
                        </button>
                        <button
                                class="bg-amber-500 hover:bg-amber-700 text-white font-bold py-1 px-2 border border-amber-500 rounded">
                            <i class="hgi hgi-stroke hgi-alert-02"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        </div>
        </div>
    </section>
</main>
</body>

</html>