<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Vigilantes</title>
</head>
<body>
<h1>Lista de Vigilantes</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Identificación</th>
        <th>Código</th>
        <th>Turno</th>
        <th>Compañía</th>
        <th>Acciones</th> <!-- Nueva columna -->
    </tr>
    </thead>
    <tbody>
    <tr th:each="vigilant : ${vigilantes}">
        <td th:text="${vigilant.id}"></td>
        <td th:text="${vigilant.first_name}"></td>
        <td th:text="${vigilant.last_name}"></td>
        <td th:text="${vigilant.identification}"></td>
        <td th:text="${vigilant.code}"></td>
        <td th:text="${vigilant.turn}"></td>
        <td th:text="${vigilant.company}"></td>
        <td>
            <!-- Enlace para editar -->
            <a th:href="@{/admins/vigilants/edit/{id}(id=${vigilant.id})}">
                <button>Editar</button>
            </a>
            <!-- Formulario para eliminar (POST) -->
            <form th:action="@{/admins/vigilants/delete/{id}(id=${vigilant.id})}" method="post">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <button type="submit">Eliminar</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>